<%= form_for(setup_question(@question)) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% options = options_from_collection_for_select(TaskItem.all, 'id', 'name') %>
    <%= f.label :task_item_id %><br>
    <%= f.select :task_item_id, options %>
  </div>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :stem %><br>
    <%= f.text_field :stem %>
  </div>
  <div class="field">
    <%= f.label :correct_ans %><br>
    <%= f.text_field :correct_ans %>
  </div>

  <h2>Answers</h2>
  <%= f.fields_for :answers do |ff| %>
    <div>
      <div class="field">
        <%= ff.label :answer_id %><br>
        <%= ff.number_field :answer_id %>
      </div>
      <div class="field">
        <%= ff.label :ans_text %><br>
        <%= ff.text_field :ans_text %>
      </div>
      <% if ff.object.persisted? %>
        <%= ff.label :_destroy, "Destroy" %>
        <%= ff.check_box :_destroy %>
      <% end %>
    </div>
  <% end %></div></h2>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
