<div class="question-display">
  <div class="panel panel-primary">
    <div class="panel-heading">Questions for Review</div>
    <div class="list-group">
      <% EcdlModule.find_each do |ecdl_module| %>
          <% if ecdl_module.has_reviews? %>
              <%= ecdl_module.name %>
              <% ecdl_module.categories.find_each do |category| %>
                  <% if category.has_reviews? %>
                      <%= category.name %>
                      <% category.skillsets.find_each do |skillset| %>
                          <% if skillset.has_reviews? %>
                              <%= skillset.name %>
                              <% skillset.task_items.find_each do |task_item| %>
                                  <% if task_item.has_reviews? %>
                                      <%= task_item.name %>
                                      <% task_item.questions.find_each do |question| %>
                                          <% if question.review.reviewing? %>
                                              <%= link_to question.stem, edit_review_path(question.review), :class => "list-group-item" %>
                                          <% end %>
                                      <% end %>
                                  <% end %>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
