<p id="notice"><%= notice %></p>

<p>
  <strong>Answer text:</strong>
  <%= @answer.text %>
</p>

<p>
  <% if @answer.image.present? %>
    <%= image_tag @answer.image.url, :size => "100x100" %>
  <% else %>
    No image provided
  <% end %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @answer.correct %>
</p>

<p>
  <strong>Question:</strong>
  <%= link_to @answer.question.stem, question_path(@answer.question) %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
