<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="question-display">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Current Question:</h3>
      </div>
      <div class="panel-body">
        <!-- Show current state of question so that reviewer can see what they're reviewing
        without navigating away -->
        <%= render :partial => "questions/show", :locals => { :question => @review.question } %>
      </div>
    </div>
  </div>

  <div class="review-field-container">
    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_field :comment %>
    </div>
    <div class="actions">
      <%= f.submit 'Approve Question'%>
      <%= f.submit 'Deny Question'%>
    </div>
  </div>
<% end %>
