<!DOCTYPE html>
<html>
<head>
  <title>ECDL Scripter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <% if notice || alert %>
    <div class="alert <%= notice ? "alert-success" : "" %><%= alert ? "alert-danger" : "" %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <div >
        <% if notice %>
          <%= notice %>
        <% elsif alert %>
          <%= alert %>
        <% end %>
      </div>
    </div>
  <% end %>

</body>
</html>
